version: '3.8'
services:

  db:
    container_name: database
    image: postgres:latest
    env_file: 
      - .env
    ports:
      - "5432:5432"
    volumes:
      - ./docker/database:/var/lib/postgresql/data

  app:
    container_name: apptrix
    build: ./apptrix
    env_file:
      - .env
    depends_on:
      - db
    ports:
      - "8000:8000"
    volumes:
      - ./docker/static:/app/static

  redis:
    image: redis:alpine

  celery:
    build: ./apptrix
    command: celery -A config worker -l info
    volumes:
      - ./docker/:/usr/src/app
    env_file:
      - .env
    depends_on:
      - redis
      - app
      - db
  
  celery-beat:
    build: ./apptrix
    command: celery -A config beat -l info
    volumes:
      - ./docker/:/usr/src/app
    env_file:
      - .env
    depends_on:
      - redis
      - app
      - db
