{% extends 'base.html' %}

{% block content %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<div class="container">
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
    <form class="w-50" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="mb-3">
          <div class="form-label">{{ form.username.label_tag }}</div>
          <div type="username" class="form-control">{{ form.username }}</div>
        </div>
        <div class="mb-3">
            <div class="form-label">{{ form.password.label_tag }}</div>
            <div type="password" class="form-control">{{ form.password }}</div>
        </div>
        <button type="submit" class="btn btn-primary mb-3">Submit</button>
    </form>
    <p>
        <a href="{% url 'register' %}">Don't have an account?</a>
    </p>
</div>




{% endblock %}
