{% extends 'base.html' %}

{% block content %}

<div class="container">
    <form method="post" action="{% url 'register' %}">
        {% csrf_token %}
        {% if form.errors %}
            {% for field, error in form.errors.items %}
                <p>{{ error }}</p>
            {% endfor %}
        {% endif %}
        <div class="mb-3">
            <div class="form-label">{{ form.username.label_tag }}</div>
            <div type="username" class="form-control">{{ form.username }}</div>
        </div>
        <div class="mb-3">
            <div class="form-label">{{ form.password1.label_tag }}</div>
            <div type="password" class="form-control">{{ form.password1 }}</div>
        </div>
        <div class="mb-3">
            <div class="form-label">{{ form.password2.label_tag }}</div>
            <div type="password" class="form-control">{{ form.password2 }}</div>
        </div>
        <button type="submit" class="btn btn-primary mb-3">Submit</button>
    </form>
</div>

{% endblock content %}
